@import (less) "ribbon.css";
@import (less) "solarized-dark.css";

.gray-background() {
    background-color: rgba(100, 100, 100, .5);
    border-radius: 5px;
}

.first {
    h2 {
        margin: 30px 0 0;
        color: #FFF;
        text-align: center;
        font-size: 70px;

        .gray-background();
    }

    p {
        margin: 10px 0 0;
        text-align: center;
        color: #FFF;
        font-style: italic;
        font-size: 20px;
        .gray-background();

        a {
            color: #FFF;
        }
    }
}

.slide > div {
    & > p, & > ul {
        margin-bottom: 20px !important;
    }
}

code.highlight {
    line-height: 30px !important;
    padding: 10px !important;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 1px inset;

    &.condensed {
        font-size: 16px;
        line-height: 20px !important;
    }
}

ul {
    margin-left: 25px !important;

    & > li {

        & > p {
            display: inline;
        }

        & > ul {
            margin-left: 50px !important;
        }
    }
}
